{% extends "app/base.html" %}
{% block content %}
  
<div>
{%if plan_categories%}
<h2>{{plan_categories.title}}</h2>
{%endif%}
</div>

{%for plan in planning%}
<div class="container-list"></div>
            <div class="col-md-6 col-md-5 col-sm-5">
                <div class="media" style="border-style:double; color: rgb(167, 133, 110);">
                    <img class="d-flex mr-3" data-src="holder.js/64x64?theme=sky" alt="100x100" src="{{plan.image.url}}" data-holder-rendered="true" style="width: 100px; height: 100px;">
                    <div class="media-body" style="display: inline-block;">

                        <div class=" container-fluid" style="font-size: 20px;">＜{{plan.plan_title}}＞</div>
                        <p>{{plan.city_name}}</p> : <p>{{plan.totaltime}}分</p>
                        <br>
                        <p>第一目的地:{{plan.first_place}}</p>
                        <br>
                        <p>第二目的地:{{plan.second_place}}</p>
                        <br>
                    </div>
                    </div>
                </div>
            </div>

        
                        {%endfor%}


{%endblock%}