 {% extends "app/base.html" %}
{% block content %}



<div class="plans_container">
    <div class="row">
        {%for pro in planning%}
        <div class="plans">
            <a href="">
                <img src="{{ pro.image.url }}" style="width: 300px; height:200px;" alt="Card image">
                <div class="plans_info">
                    <a href="" class="category">{{ pro.category }}</a>
                    <a href="">@{{ pro.user }}</a>
                </div>

            </a>
        </div>
        {%endfor%}
    </div>
    </div>
    {% include 'app/all_plans.html'  %}



{%endblock%}