{% extends "app/base.html" %}
{% block content %}

<h2>新規登録</h2>

<div class="container-login">
    <div class="row">
            <div class="col-sm-6 col-md-12 col-lg-12">
                <form method="POST" action="{%url 'app:signup' %}" style=" color: rgb(167, 133, 110); ">{% csrf_token %}
                    <label>名前</label>
                    {{form.sirname}}
                    {{form.sirname.errors}}
                    <br>
                    <label>メールアドレス</label>
                    {{form.email}}
                    {{form.email.errors}}
                    <br>
                    <label>パスワード</label>
                    {{form.password1}}
                    {{form.password1.errors}}
                    <br>
                    <label>パスワード(確認用)</label>
                    {{form.password2}}
                    {{form.password2.errors}}
                    <br>
                    
                    <input style=" color: rgb(167, 133, 110);" type="submit" value="登録する">
                </form>

{% endblock %}